body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  background-color: #F4EEE0;
  color: #393646;
}

@media screen and (max-width:800px) {
  #movie-info{
    flex-direction: column;
  }
  #form{
    width: 100% !important;
  }
}

/* CARD.JSX */
.card{
  padding: 0 !important;
}

.sort-btn{
  background-color: #393646 !important;
  color: #F4EEE0 !important;
}

@media screen and (max-width:575px) {
  .sort-div{
    width: 90% !important;
  }
}
@media screen and (max-width:576px) {
  .card-div{
    width: 90% !important;
  }
}

/* SHOW INFO JSX */

@media screen and (min-width:992px) {
  .showinfo-div{
    display: flex !important;
    gap: 4em;
  }

  .showinfo-div{
    overflow: auto;
  }

  .showinfo-div > div{
    width: 100%;

  }
}

.showinfo-div > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  overflow: hideden;
}

@media only screen and (max-width: 650px) {
  .showinfo-div > img{
    width: 75vw;
  }
}
@media only screen and (max-width: 500px) {
  .showinfo-div > img{
    width: 85vw;
  }
}

.showinfo-div > button{
  color: #393646;
}

@media only screen and (max-width: 472px) {
  .mini-img {
    justify-content: center;
  }
}

#selected{
  background-color: #F4EEE0 !important;
  color: #393646 !important;
  border: 2px solid #393646;
}

/* LOGIN */
.log-btn:hover{
  transform: scale(1.1) ;
}

.showpassdiv{
  position: relative;
    left: 89%; 
    bottom:43px;
}

.showpass{
  position: absolute;
  color: #141d2a;
}

@media only screen and (max-width: 240px) {
  .showpassdiv {
    left: 85%;
  }
}

/* MODAL */

.modal-dialog{
  background-color: rgba(0, 0, 0, 0);
}

.header{
  border-bottom: 2px solid #393646;
}